.show {
	opacity: 1;
	transform: scale(1);
	font-size:50px;
}
.hide {
	opacity: 0;
	font-size: 20px;
	transform: translateX(100px);

}
.animated {
	transition: all 0.5s linear;
}
/*CSS - TRANSTIONS-GROUP*/
.fade-enter,.fade-appear{
	opacity: 0
}
.fade-enter-active,.fade-appear-active{
	opacity: 1;
	transition: opacity 1s ease-in;
}
.fade-enter-done {
	opacity: 1;
}

.fade-exit{
	opacity: 1;
} 
.fade-exit-active{
	opacity: 0;
	transition: opacity 1s ease-in;
} 
.fade-exit-done{
	opacity: 0;
}